.mainFxmlClass {
}
.bglogin {
    -fx-background-image: url("../img/LOCAMAX.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

.inputlogin {
    -fx-background-color: rgba(255, 255, 255, 0.5);
    -fx-background-radius: 18;
    -fx-background-insets: 0;
    -fx-border-color: transparent;
    -fx-border-radius: 18;
    -fx-padding: 10 20;
    -fx-text-fill: black;
    -fx-font-size: 10pt;
}

.botaologin {
    -fx-background-color: linear-gradient(to top, #1e4217, #76e043);
    -fx-background-radius: 25;
    -fx-background-insets: 0;
    -fx-border-color: transparent;
    -fx-border-radius: 25;
    -fx-padding: 5 20;
    -fx-text-fill: black;
    -fx-font-size: 12pt;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 5, 0, 0, 1);
    -fx-cursor: hand;
}

.botaologin:hover{
    -fx-background-color: linear-gradient(to top, #474747, #ffffff);
}

.botaoregistro{
    -fx-background-color: linear-gradient(to top, #4d8238, #86e85f);
    -fx-background-radius: 25;
    -fx-background-insets: 0;
    -fx-border-color: transparent;
    -fx-border-radius: 25;
    -fx-padding: 5 20;
    -fx-text-fill: black;
    -fx-font-size: 12pt;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 5, 0, 0, 1);
    -fx-cursor: hand;
}

.botaoregistro:hover{
    -fx-background-color: linear-gradient(to top, #a083a3, #b29ab5);
}

.date-picker, .text-field {
    -fx-background-color: #f0e9fb;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-color: transparent;
    -fx-font-size: 14px;
}

.date-picker > .arrow-button {
    -fx-background-color: transparent;
}